$heading-font: "Afacad", sans-serif;
$font-style2: "Figtree", sans-serif;
$font-style3: "Kaushan Script", cursive;

$common-font-size: 14px;

$bgcolor1:#EFFFFF;   
$bgcolor2:#DBEEEE;  

$clr-primary:#066168;
$clr-yellow:#FFAA0D;
$clr-green:#85D200;
$clr-light-yellow:#FFF8EB;
$common-font-color:#346065;

$clr-black:#000;
$clr-dark:#443935;
$clr-white:#fff;

$transition: .5s all ease;
$outline-none:0px none;
$inherit:inherit;
$none:none;
